
@media only screen and (max-width: 600px){
  .header-content {
    flex-wrap: wrap;
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 20px 10px;
  border-bottom: 1px solid;

  h1
  {
    margin: 0px;
    line-height: 2;
  }
  .header-content_right {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    select {
      margin-right: 10px;
    }
  }
  .delete-select {
    padding: 5px;
  }
  
  .btn-apply {
    margin-left: 10px;
    padding: 5px;
  }
  
  .btn-save {
    padding: 5px 15px; 
  }
}





