/************
Product list
**************/

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
  }

  .product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    padding: 20px;
    margin: 20px;
    position: relative;
    min-width: 200px;
    @include mobile {
      margin: 20px auto;
    }
    &:hover { background-color: $red-background;}

    input {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    label {
      margin-left: 10px;

      &.top-label {
        margin-left: 20px;
        &.red {
          margin-left: 20px;
          background-color: $red-background;
        }
      }  
    }
    .price {
      color: grey;
      font-size: 22px;
    }
    .product-attribute {
      text-transform: uppercase;
    }
  }
}

/************
Product list
**************/
.add-product {
  margin: 20px 20px 0 20px;

  form {
    max-width: 400px;

    .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      input, select {
        width: $input-width;
      }
      @include mobile {
        flex-direction: column;
      }
    }
  }
}
