.main-add-product {
  margin: 0 20px;

  .add-product_container {
    margin-top: 20px;
    max-width: 300px;

    form {
      display: block;

      .form-group {
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
        align-content: space-between;

        label {
          clear: left;
          display: block;
          flex-basis: 60%;
          align-self: center;
        }

        select,
        input {
          clear: right;
          display: block;
          flex-basis: 40%;
        }

        #type {
          min-width: 166px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .form-group {
    flex-wrap: wrap;
  }
}
