.container-fluid {
  width: 100%; }

.container {
  max-width: 1440px;
  padding: 10px 25px;
  margin: 0 auto 0 auto; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px; }
  @media (max-width: 540px) {
    .header-container {
      flex-direction: column;
      align-items: start; } }
  .header-container h1 {
    margin: 5px 0; }
  .header-container button {
    padding: 0 20px;
    border: 1px solid black;
    font-size: 0.75rem;
    box-shadow: 2px 2px black;
    background-color: white;
    transition: all 1s; }
    .header-container button:hover {
      transform: scale(1.1);
      transition: all 1s; }
    @media (max-width: 540px) {
      .header-container button {
        margin: 10px 0; } }

.form-container {
  width: 25%; }
  @media (max-width: 1140px) {
    .form-container {
      width: 33.33%; } }
  @media (max-width: 720px) {
    .form-container {
      width: 50%; } }
  @media (max-width: 540px) {
    .form-container {
      width: 100%; } }
  .form-container form {
    width: 100%; }
    .form-container form .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px; }
      @media (max-width: 540px) {
        .form-container form .form-group {
          flex-direction: column;
          align-items: start; }
          .form-container form .form-group label {
            margin-bottom: 3px; } }
      .form-container form .form-group input, .form-container form .form-group select {
        border: 1px solid black; }
    .form-container form .size {
      margin: 20px 0; }

.footer-container {
  padding: 20px; }
