// h1 {
//   padding: 20px;
// }

$nav-padding: 6px; // adsdasd
$red-background: rgba(185, 62, 62, 0.486);

nav {
  ul {
    margin: 0;
    padding: $nav-padding;
    list-style: none;

    li {
      display: inline-block;
    }
  }

  a {
    display: block;
    padding: $nav-padding 12px;
    text-decoration: none;
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;

  .product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    position: relative;
    flex: 1 0 21%;

    &:hover {
      background-color: $red-background;
    }

    input {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    label {
      margin-left: 10px;

      &.top-label {
        margin-left: 20px;
        &.red {
          margin-left: 20px;
          background-color: $red-background;
        }
      }
    }

    .price {
      color: grey;
      font-size: 22px;
    }

    .product-attribute {
      text-transform: uppercase;
    }
  }
}
