$nav-padding: 6px;
$red-background: rgba(185, 62, 62, 0.486);

nav {
  ul {
    margin: 0;
    padding: $nav-padding;
    list-style: none;

    li { 
      display: inline-block; 
    }
  }

  a {
    display: block;
    padding: $nav-padding 12px;
    text-decoration: none;
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    padding: 1.25em;
    margin: 1.25em 1.25em 0 1.25em;
    position: relative;

    &:hover { background-color: $red-background;}

    input {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    label {
      margin-left: 10px;

      &.top-label {
        margin-left: 20px;
        &.red {
          margin-left: 20px;
          background-color: $red-background;
        }
      }  
    }

    .price {
      color: grey;
      font-size: 1.5em;
    }

    .product-attribute {
      text-transform: uppercase;
    }
  }
}



@media (max-width: 450px) {
  .form-group {
    flex-wrap: wrap;
  }
}

.add-product {
  margin: 20px 20px 0 20px;

  .container {
    display: flex;
  }
}

#type {
  min-width: 166px;
}

form {
  display: flex;
  flex-direction: column;

  .group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  label {
    clear: left;
    display: block;
    float: left;
  }

  select, input {
    clear: right;
    display: block;
    float: left;
  }
}



@media (max-width: 450px) {
  .header-content {
    flex-wrap: wrap;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  border-bottom: 1px solid;

  .right {
    display: flex;
    align-items: center;
  }
}

.delete-select {
  padding: 5px;
}

.btn{

  &.apply {
    margin-left: 10px;
    padding: 5px;
  }

  &.save {
    padding: 5px 15px; 
  }
}

