
.add-product {
  margin: 20px 20px 0 20px;

  form {
    max-width: 400px;

    .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      input, select {
        width: $input-width;
      }
      @include mobile {
        flex-direction: column;
      }
    }
  }
}


