input[type="text"] {
  height: 1.7rem;
  font-size: 0.8rem;
  width: 11rem;
}

.row-form {
  margin-bottom: 10px;
}

.row-form::after {
  content: "";
  display: table;
  clear: both;
}
.col-label {
  float: left;
  width: 5rem;
}
.col-input {
  float: left;
}
