a {
<<<<<<< HEAD
  display: block;
  padding: 5px 20px;
  border: 1px solid black;
  text-decoration: none;
  margin: 10px 0;
  max-width: 100px;
  overflow: hidden;
  text-align: center;
  color: black;
}
=======
    display:block;
    padding:5px 20px;
    border:1px solid black;
    text-decoration: none;
    margin:10px 0;
    max-width:100px;
    overflow: hidden;
    text-align: center;
    color: black;
}
>>>>>>> 5462c31... Kaspars/MD21.05-added sass and flex
