.container-fluid {
  width: 100%;
}

.container {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto 0 auto;

  @media (max-width: 540px) {
    padding: 0 10px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0 20px;

  @media (max-width: 540px) {
    flex-direction: column;
    align-items: start;
  }

  h1 {
    margin: 5px 0;
  }

  select {
    border: 1px solid black;
  }

  button {
    padding: 0 20px;
    margin-left: 10px;
    border: 1px solid black;
    font-size: 0.75rem;
    box-shadow: 2px 2px black;
    background-color: white;
    transition: all 1s;

    &:hover {
      transform: scale(1.1);
      transition: all 1s;
    }

    @media (max-width: 540px) {
      margin: 10px 0;
    }
  }
}

hr {
  margin: 5px 20px 0;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-between;

  .product {
    text-align: center;
    font-family: arial;
    padding: 20px;
    margin: 0 20px 20px;
    position: relative;
    flex: 1 0 19%;
    border: 1px solid black;
    min-width: 250px;

    @media (max-width: 540px) {
      min-width: 175px;
    }

    input {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    label {
      margin-left: 10px;
    }

    .price {
      font-size: 22px;
    }

    .product-attribute {
      text-transform: uppercase;
    }
  }
}

.footer-container {
  padding: 20px;
}
