.main-add-product {
  margin: 0 20px;
}

.add-product_container {
  margin-top: 20px;
  max-width: 300px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 450px) {
  .form-group {
    flex-wrap: wrap;
  }
}

#type {
  min-width: 166px;
}

form {
  display: block;
}

form label {
  clear: left;
  display: block;
  float: left;
}

form select,
form input {
  clear: right;
  display: block;
  float: left;
}
