.header-wrap {
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px black;
}

.header-wrap h1{
    margin-top: 30px;
}

.header-item-left {
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
}

.header-item-right {
    float: right;
    font-size: 20px;
    height: 30px;
    width: 120px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 10px;
    margin-top: 40px;
}

.form-wrap {
    margin-top: 20px;
    margin-left: 20px;
    width: 25%;
    min-width: 210px;
}

.form-item {
    display: block;
    height: 30px;
}

.form-item-left {
    float: left;
}
.form-item-right {
    float: right;
}

form {
    display: block;
}

form label {
    clear: left;
    display: block;
    float: left;
}

form select,
form input {
    clear: right;
    display: block;
    float: left;
}