.nav-container {
  a {
    display: inline-block;
    padding: 5px 0;
    text-decoration: none;
    margin: 20px 20px 5px 0;
    overflow: auto;
    text-align: center;
    border-bottom:2px solid transparent;
    color: $btn-blue;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      border-bottom-color: $btn-blue;
    }
  }
  hr {
    margin:5px 0 0;
  }
}