.main-nav {
  .nav-item {
    border-bottom:2px solid transparent;
    color: $blue !important;
    text-transform: uppercase;
    font-weight: 500;
    padding:0 !important;
    margin-left:20px !important;

    @media (max-width:768px) {
      margin-bottom:20px;
      overflow: auto;
      width: 150px;
      margin-left: auto !important;
      margin-right: auto;
    }

    &:hover {
      border-bottom-color:$blue;
    }
  }
  hr {
    margin:5px 0 0;
  }
}