.list-container {

  .container {
    padding: 0 25px;

    @media (max-width: 540px) {
      padding: 0 10px;
    }
  }

  .header-container {
    margin:0 25px;

    h1 {
      margin:0;
    }

    select {
      border: 1px solid $black;
      border-radius: 0;
    }

    button {
      padding: 0 20px;
      margin-left: 10px;
      border: 1px solid $black;
      font-size: 0.75rem;
      box-shadow: 2px 2px $black;
      background-color: $white;
      transition: all 1s;

      &:hover {
        transform: scale(1.1);
        transition: all 1s;
      }

      @media (max-width: 540px) {
        margin: 10px 0;
      }
    }
  }

  hr {
    margin: 5px 25px 0;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-between;

    .product {
      text-align: center;
      font-family: arial;
      padding: 20px;
      margin: 0 25px 20px;
      position: relative;
      flex: 1 0 18%;
      border: 1px solid $black;
      min-width: 250px;

      @media (max-width: 540px) {
        min-width: 175px;
      }

      input {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      label {
        margin-left: 10px;
      }

      .price {
        font-size: 22px;
      }

      .product-attribute {
        text-transform: uppercase;
      }
    }
  }
  footer {
    padding:25px 0;
    
    .btn-return {
      margin:25px;
    }
  }
}